.gibbon-folderActivity {
  width: 100%;
  height: 30em;

  .gibbon-activity-loadingPlaceholder {
  }

  .gibbon-folderActivity-content {
    margin-top: 2em;
    height: 100%;
    width: 100%;
    padding-right: 0.75em;
    overflow-y: auto;
  }

  .gibbon-feedLabelImage {
    height: 1em;
    border-radius: 0em !important;
  }
}